{% extends "customers/auth/layout.html" %}

{% block title %}
    Recover Password
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}


{% block body %}
    <div class="row" style="text-align: center;">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <div>
                <p>A verification code was sent to the email address associated with this account.</p>
                <p>Please check your inbox/spam folder.</p>
            </div>
            <br>
            <form action="{{ url_for('recoverpassword') }}" method="POST">
                <div class="form-group">
                    <label for="code"><span class="requirement">*</span>Verification Code</label>
                    <input type="text" class="form-control" id="code" name="code" autofocus placeholder="verification code">
                </div>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
            {% if fp_code_error %}
                <div class="errorMessage">
                    {{ fp_code_error }}
                </div>
            {% endif %}
            <div>
                <a href="{{ url_for('resendcode') }}">Resend Verification Code</a>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
{% endblock %}