hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

body {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

#siteHeader {
    padding: 5px;
    text-align: center;
}

#shopname {
    color: brown;
    font-weight: bold;
}

@media (min-width: 1000px) {
    #logo {width: 100%;}
}

@media (max-width: 999px) {
    #logo {width: 100px;}
}

.errorMessage, .requirement {
    color: red;
}