{% extends "customers/layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}


{% block body %}
<form action="{{ url_for('changepassword') }}" method="POST">
    <div style="text-align: center;">
        <p>Change your Password</p>        
    </div>
    <hr><br>
    <div class="row" style="text-align: center;">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">            
            <div class="form-group">
                <label for="oldpassword"><span class="requirement">*</span>Current Password</label>
                <input type="password" class="form-control" id="oldpassword" name="oldpassword" autofocus>
            </div>
            <div class="form-group">
                <label for="password1"><span class="requirement">*</span>New Password</label>
                <input type="password" class="form-control" id="password1" name="password1">
            </div>
            <div class="form-group">
                <label for="password2"><span class="requirement">*</span>Confirm New Password</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Change</button><br>
        {% if changepassword_error %}
            <div class="errorMessage">
                {{ changepassword_error }}
            </div>
        {% endif %}
        <a href="{{ url_for('homepage') }}">Cancel</a>
    </div>
</form>
    
{% endblock %}