{% extends "customers/layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='customers/homepage.js') }}"></script>
    <script src="{{ url_for('static', filename='customers/productshome.js') }}"></script>
    <script id="cart_row" type="text/x-handlebars-template">
        {% raw -%}
            <p>Your Cart</p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </tr>
                {{#each items}}
                <tr id="{{this.name}}">
                    <td>{{ this.name }}</td>
                    <td>Rs {{ this.price }} / {{ this.unit }}</td>
                    <td>{{ this.qty }}</td>
                    <td>Rs. {{ this.amount }}</td>
                    <td><button type="button" class="btn btn-danger btn-sm" onclick="return removeFromCart('{{this.name}}');">Remove</button></td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td><b>Rs. <span id="cartprice">{{ amount }}</span></b></td>
                    <td></td>
                </tr>
            </table>
        {%- endraw %}
    </script>
    <script id="products" type="text/x-handlebars-template">
        {% raw -%}
            {{#each products}}
            <div class="category" data-category="{{this.category}}">
                <a href="" onclick="return getProductInfo('{{this.name}}');" class="productname" data-productname="{{this.name}}"><span style="color: green;">{{this.name}}</span></a><br>
                <div>
                    <span>Rs {{this.price}} / {{this.unit}}</span>
                </div>
                <a href="{{this.url}}" target="_blank"><img src="{{this.url}}" id="thumbnail" class="img-thumbnail"></a><br>
                <form class="form-inline addToCartForm" style="padding: 5px;" onsubmit="return addToCart('{{this.id}}');">
                    &nbsp;&nbsp;&nbsp;
                    <input type="text" style="width: 50px;" class="form-control" placeholder="qty" id="{{this.id}}" autocomplete="off">
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success">Add</button>
                </form>
            </div>
            {{/each}}
        {%- endraw %}
    </script>
{% endblock %}

{% block style %}
    <style>
        .flex-container {display: flex; flex-wrap: wrap; justify-content: center; text-align: center;}
        .flex-container > div {padding: 5px;}
        #thumbnail {height: 150px;}
        .table {width: 100%;}
        .table td {padding: 5px;}
    </style>
{% endblock %}


{% block body %}
    <div style="text-align: center;" id="cartdivision">
        <div class="row">
            <div class="col-lg-10" id="cart_table" >
                {% if cart %}
                <p>Your Cart</p>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Remove</th>
                    </tr>
                    {% for item, details in cart.items() %}
                    <tr id="{{ item }}">
                        <td>{{ item }}</td>
                        <td>Rs {{ details['price'] }} / {{ details['unit'] }}</td>
                        <td>{{ details['qty'] }}</td>
                        <td>Rs. {{ details['amount'] }}</td>
                        <td><button type="button" class="btn btn-danger btn-sm" onclick="return removeFromCart('{{item}}');">Remove</button></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b>Rs. <span id="cartprice">{{ amount }}</span></b></td>
                        <td></td>
                    </tr>
                </table>
                {% endif %}
            </div>
            <div class="col-lg-2">
                <p></p>
                <div style="padding: 45px;">
                    <a href="{{ url_for('placeorder') }}"><button type="submit" class="btn btn-success" id="placeorder">Buy</button></a>
                </div>
                <a href="" id="erasecart">Clear Cart</a>
            </div>
        </div>
        <hr>        
    </div>

    
    {% if categories %}
    <div style="text-align: center;">
        <a href="" id="allcategories"><span style="padding: 2px;">All</span></a>
        {% for category in categories %}
        <a href="" class="categories" data-category="{{ category }}"><span style="padding: 2px;">{{ category }}</span></a>
        {% endfor %}
    </div>
    <hr>
    {% endif %}
    <div class="flex-container" id="allproducts">
    </div>
{% endblock %}