{% extends "admin/layout.html" %}

{% block title %}
    Add Product
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/addproduct.js') }}"></script>
{% endblock %}

{% block style %}
    <style>
        #addproduct_form {text-align: center; padding: 20px;}        
        #thumbnail {height: 100px;}
        #new_product {text-align: center; padding: 30px;}
    </style>
{% endblock %}


{% block body %}
    <div style="text-align: center;">
        <a href="{{ url_for('admin_products') }}">All Products</a>
    </div>
    <hr>
    <form action="{{ url_for('admin_add_product') }}" method="POST" enctype="multipart/form-data">
        <div class="row" id="addproduct_form">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="name"><span class="requirement">*</span>Product Name</label>
                    <input type="text" class="form-control" id="name" name="name" autofocus>
                </div>
                <div class="form-group">
                    <label for="category"><span class="requirement">*</span>Product Category</label>
                    <input type="text" class="form-control" id="category" name="category">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="subcategory">Product Sub-Category</label>
                    <input type="text" class="form-control" id="subcategory" name="subcategory">
                </div>
                <div class="form-group">
                    <label for="unit"><span class="requirement">*</span>Product Unit</label>
                    <input type="text" class="form-control" id="unit" name="unit">
                </div>
            </div>
            <div class="col-lg-4">
                  <div class="form-group">
                    <label for="info">Product Info</label>
                    <textarea class="form-control" rows="5" id="info" name="info"></textarea>
                  </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="price"><span class="requirement">*</span>Product Price</label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
                <div class="form-group">
                    <label for="stock"><span class="requirement">*</span>Stock Quantity</label>
                    <input type="text" class="form-control" id="stock" name="stock">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="image"><span class="requirement">*</span>Product Image</label><br>
                    {{ form.csrf_token }}
                    {{ form.photo() }}
                </div>
                <div class="form-group">
                    <label for="display"><span class="requirement">*</span>On Display</label>
                    <select class="form-control" id="display" name="display">
                        <option disabled selected value="">Display</option>
                        <option value="True">YES</option>
                        <option value="False">NO</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="text-align: center;">        
            <button type="submit" class="btn btn-primary">Add</button>
            {% if add_product_error %}
                <br>
                <span class="errorMessage">{{ add_product_error }}</span>
            {% endif %}            
        </div>
    </form>
    <hr>
    {% if product %}
    <div style="text-align: center;">Recently Added</div>
    <hr>
    <div class="row" id="new_product">
        <div class="col-lg-2">
            <a href="{{ product['url'] }}" target="_blank">
                <img src="{{ product['url'] }}" id="thumbnail" class="img-thumbnail">
            </a>            
        </div>
        <div class="col-lg-2">
            <div>
                Name: {{product['name']}}
            </div>
            <div>
                Category: {{product['category']}}
            </div>
            <div>
                SubCategory: {{ product['subcategory'] }}
            </div>            
        </div>
        <div class="col-lg-2">
            <div>
                Unit: {{product['unit']}}
            </div>
            <div>
                Price: Rs {{product['price']}}
            </div>
            <div>
                Stock: {{product['stock']}}
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                {{ product['info'] }}
            </div>

        </div>
        <div class="col-lg-2">
            <a href="{{ url_for('admin_change_product_image', name=product['name']) }}">Change Image</a><br>
            <a href="{{ url_for('admin_modify_product', name=product['name']) }}">Edit Details</a><br>
            {% if product['tags'] %}
                <a href="#">Edit Tags</a>
            {% else %}
                <a href="{{ url_for('admin_add_tags', name=product['name']) }}">Add Tags</a>
            {% endif %}
            <div>
                Display: {{ product['display'] }}
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
{% endblock %}

