<!DOCTYPE html>

<html>
    <head>
        <script src="{{ url_for('static', filename='admin/layout.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="{{ url_for('static', filename='admin/layout.css') }}" rel="stylesheet">
        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
        <body>
            <div id="siteHeader">
                <div class="row">
                    <div class="col-lg-2">
                        <a href="{{ url_for('admin') }}"><img src="{{ url_for('static', filename='admin/cs50.jpg') }}" id="logo" class="img-thumbnail"></a>
                    </div>
                    <div class="col-lg-8">
                        <h1 id="shopname">{{ shopname }}</h1>
                        {% if admin %}
                            <a href="{{ url_for('admin')}}">Homepage</a>&nbsp;&nbsp;
                            <a href="{{ url_for('admin_products') }}">Products</a>&nbsp;&nbsp;
                            <a href="{{ url_for('admin_orders') }}">Orders</a>&nbsp;&nbsp;
                            <a href="{{ url_for('admin_stock_update') }}">Stock Update</a><br>
                            <a href="{{ url_for('refresh_products') }}">Refresh</a>&nbsp;&nbsp;                            
                            <a href="{{ url_for('admin_logout')}}">Logout</a>
                        {% endif %}
                    </div>
                    <div class="col-lg-2">
                        {% if admin %}
                            <form action="{{ url_for('admin_search') }}" method="POST" id="searchform">
                                <div class="form-group">                                    
                                    <input type="text" class="form-control input-sm" id="keyword" name="keyword" autocomplete="off">
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Search</button>
                            </form>                            
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            {% block body %}{% endblock %}
        </body>
    </head>
</html>