{% extends "admin/layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/products.js') }}"></script>
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}


{% block body %}
    <div style="text-align: center;">
        <a href="{{ url_for('admin_add_product') }}">Add Product</a>
    </div>
    <hr>
    <div class="row" style="text-align: center;">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            hello, world
        </div>
        <div class="col-lg-4">

        </div>
    </div>
{% endblock %}